@keyframes opaque {
    0% {
        opacity: 0;
    }
    10% {
        opacity: .2;
    }
    20% {
        opacity: .4;
    }
    30% {
        opacity: .6;
    }
    40% {
        opacity: .8;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: .8;
    }
    70% {
        opacity: .6;
    }
    80% {
        opacity: .4;
    }
    90% {
        opacity: .2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {

    100% {
        transform: rotate(360deg);
    }
}

@keyframes coolColors {
    0% {
        color: limegreen;
    }
    10% {
        color: fuchsia;
    }
    20% {
        color: navy;
    }
    30% {
        color: magenta;
    }
    40% {
        color: brown;
    }
    50% {
        color: indigo;
    }
    60% {
        color: palegoldenrod;
    }
    70% {
        color: darkred;
    }
    80% {
        color: olive;
    }
    90% {
        color: hotpink;
    }
    100% {
        color: limegreen;
    }
}

@keyframes spinLeft {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes rot3d {
    0% {
        transform: rotate3d(0);
    }
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

html,
body {
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#background {

    background-image: url("./images/moto1.jpg");
    border: 30px dashed;
    animation-name: coolColors;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    text-align: center;
    position: static;
}

#brandon {
    position: absolute;
    left: 770px;
    top: 80px;
    animation-name: opaque;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#head {
    animation: spin linear;
    position: absolute;
    left: 200px;
    top: 250px;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#negative {
    position: absolute;
    left: 1200px;
    top: 600px;
    animation: spin linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#colorSwitch {
    animation: coolColors linear;
    position: relative;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 200px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#spinner {
    animation: spinLeft linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

#d {
    animation: rot3d linear;
    animation-iteration-count: infinite;
    animation-duration: .5s;
}

.rain {
    background: url("images/temp.png");
    position: absolute;
    width: 125px;
    height: 149px;
}

#content {
    height: 100%;
    width: 100%;
}

#magic {
    animation: spin linear;
    position: absolute;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    top: 450px;
    left: 100px;
}

#thing {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 225px;
    top: 125px;
    background-color: green;
    transition: transform .2s, background .5s, left .5s ease-out, top .5s ease-out;
}

#thing:hover {
    background-color: red;
}

#thing:active {
    transform: scale(3);
}
